import type { Metadata } from "next";

//we can use separete layout for auth related pages
//like login register reset password etc
//this layout will be used for all the pages inside (auth) folder
export const metadata: Metadata = {
  title: "web dev blog",
  description: "A blog about web development",
  icons: { icon: "/logo.svg" },
};
const AuthLayout = ({
  children,
}: Readonly<{
  children: React.ReactNode;
}>) => {
    return ( <div>
        <div>Auth nav</div>
        {children}
    </div> );
}
 
export default AuthLayout;